.bgcolor{
    background-color: black;
    padding: 5%;
}

label{
    color: white;
}

button{
    background-color: red;
    border-radius: 15px;
    border: 1px solid red;
    padding: 1% 2%;
}

body{
    background-color: lightblue;

 }